<!DOCTYPE html>
<html lang="en">
<head>

    <title>LoraWAN TestBed - <%=title%></title>
    
    <!-- <link rel="stylesheet" href="./../../public/stylesheets/dashboard.css"> -->
    <!-- Global level stylesheet -->
    <script src="https://unpkg.com/mqtt@4.2.8/dist/mqtt.min.js"></script>
    <script>
            // var payload_data = JSON.parse(window.localStorage.getItem('payload-data')) ;
            
            //     for(var i in payload_data){
            //         for(var j in payload_data[i]){
            //             document.getElementById(`payload-data-${i}-${j}`).innerHTML = payload_data[i][j];
            //         }
                    
            //     }
            
            const streaming_broker_protocol = "ws"; //pass from server
            const streaming_broker_addr = "127.0.0.1"; //pass from server
            const streaming_broker_port = 8083; //pass from server

            //pass from server
            // const devices = [
            //     "eui-a84041a54182a79f"
            // ];
            const devices = ['<%= dev_list %>'];
            //pass from server
            const streaming_broker_options = {
                clientId: '<%= client_id %>',
                username: '<%= broker.id %>',
                password: '<%= broker.psw %>',
                keepalive: 120,
                protocolVersion: 5,
                clean: false,
                properties: {  // MQTT 5.0
                    sessionExpiryInterval: 300
                }
                // resubscribe: false
            }

            const sub_topics = [];
            devices.forEach((device_id) => {
                sub_topics.push({
                    'topic': `devices/${device_id}/up/payload`,
                    'options': {
                        'qos': 0
                    }
                });
            });
                
            const streaming_broker_mqttclient = mqtt.connect(
                `${streaming_broker_protocol}://${streaming_broker_addr}:${streaming_broker_port}/mqtt`, 
                streaming_broker_options
            );

            streaming_broker_mqttclient.on('connect', streaming_broker_connect_handler);
            streaming_broker_mqttclient.on('error', streaming_broker_error_handler);
            streaming_broker_mqttclient.on('message', streaming_broker_message_handler);
            
            //handle incoming connect
            function streaming_broker_connect_handler(connack)
            {
                console.log(`streaming broker connected? ${streaming_broker_mqttclient.connected}`);
                
                sub_topics.forEach((topic) => {
                    streaming_broker_mqttclient.subscribe(topic['topic'], topic['options']);
                });
                
            }
            
            //MESSAGE SEND HERE
            function streaming_broker_message_handler(topic, message, packet)
            {
                //parse msg
                let parsed_message = JSON.parse(message);
                //CONTINUE
                //document.getElementById("payload-data-58").innerHTML = parsed_message;
                console.log(topic);
                console.log('parsed_message', parsed_message.payload_data);
                var recv_topic = topic.split('/')[1];
                // var data = `"${recv_topic}": ${parsed_message.payload_data}`;

                // var data = JSON.parse(window.localStorage.getItem('payload-data'));
                // if(!data) data = {};
                // data[recv_topic] = JSON.stringify(parsed_message.payload_data);
                // window.localStorage.setItem(`payload-data`, JSON.stringify(data));

                for(var i in parsed_message.payload_data){
                    
                    document.getElementById(`payload-data-${recv_topic}-${i}`).innerHTML = parsed_message.payload_data[i];
                }

                // parsed_message.payload_data.forEach((item) => {
                //     document.getElementById(`payload-data-${recv_topic[1]}-${item.key}`).innerHTML = item
                // })
                // parsed_message.recv_payload
            }

            // handle error
            function streaming_broker_error_handler(error)
            {
                console.log("Can't connect to streaming broker" + error);
                process.exit(1);
            }
    </script>
    <%- include('../partials/libs.ejs') %>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <%- include('../partials/navbar.ejs') %>
        <!-- End of Navbar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                
                <!-- Topbar -->
                <%- include('../partials/header.ejs') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Change Dashboard dropdown menu -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <div class="nav-item dropdown">
                            <button class="btn btn-primary dropdown-toggle" href="#" id="changeDashboard"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Board 1
                            </button>
                            <div class="dropdown-menu dropdown-menu-left animated--fade-in"
                            aria-labelledby="changeDashboard">
                                <a class="dropdown-item" href="#" onclick="">Board 1</a>
                                <a class="dropdown-item" href="#" onclick="">Board 2</a>
                                <a class="dropdown-item" href="#" onclick="">Board 3</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" role="button" data-toggle="modal" data-target="#addBoardModal">
                                    <i class="fas fa-plus fa-sm text-gray-600"></i>&nbsp;Add board
                                </a>
                            </div>
                        </div>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            role="button" data-toggle="modal" data-target="#addWidgetModal">
                        
                            <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Add widget
                        </a>
                        
                        <!-- Add Board Modal-->
                        <div class="modal fade" id="addBoardModal" tabindex="-1" role="dialog" aria-labelledby="addBoardModalLabel"
                        aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addBoardModalLabel">Add board</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- action="device/configure" -->
                                        <form method="post" action="dashboard/add-board" class="user">
                                            <!-- Input type Text -->
                                            <label for="board_name">Board Name</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="addWidgetName" aria-describedby="board_name"
                                                    placeholder="Enter Board name" name="addboard_name">
                                            </div>
                                            <!-- Select type Select -->
                                            <label for="addBoardDevice">Device</label>
                                            <select class="form-control mb-4" id="addBoardDevice">
                                                <option selected value="1">Device 1</option>
                                                <option value="2">Device 2</option>
                                                <option value="3">Device 3</option>
                                            </select>
                                            <input type="submit" id="add_board" value="Add board" class="btn btn-primary btn-user btn-block">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Add Widget Modal-->
                        <div class="modal fade" id="addWidgetModal" tabindex="-1" role="dialog" aria-labelledby="addWidgetModalLabel"
                        aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addWidgetModalLabel">Add widget</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- action="device/configure" -->
                                        <form method="post" action="dashboard/add-widget" class="user">
                                            <!-- Input type Text -->
                                            <label for="widget_name">Widget Name</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="addWidgetName" aria-describedby="widget_name"
                                                    placeholder="Enter Widget name" name="endwidget_name">
                                            </div>
                                            <!-- Select type Select -->
                                            <label for="addWidgetType">Widget Type</label>
                                            <select class="form-control mb-4" id="addWidgetType">
                                                <option selected value="1">Card</option>
                                                <option value="2">Chart</option>
                                                <option value="3">Table</option>
                                            </select>
                                            <!-- Select type Select -->
                                            <label for="addWidgetData">Data</label>
                                            <select class="form-control mb-4" id="addWidgetData">
                                                <option selected value="1">AIRTEMP</option>
                                                <option value="2">AIRHUMID</option>
                                                <option value="3">ADC_CH0V</option>
                                            </select>
                                            <input type="submit" id="add_widget" value="Confirm changes" class="btn btn-primary btn-user btn-block">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
              
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Widget Card Example -->
                        <%for(let i=0; i< boardWidget.length ; i++){ %>
                        <%if(boardWidget[i].board_id == 8) {%>
                        <%var config = boardWidget[i].config_dict; %>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-<%=config.view.color%> shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-<%=config.view.color%> text-uppercase mb-1">
                                                <%=boardWidget[i].w_display_name%></div>
                                             <div class="h5 mb-0 font-weight-bold text-gray-800" id="payload-data-<%=boardWidget[i].e_dev_id%>-<%=boardWidget[i].sensor_key%>">[blank]</div>  <!--31.2&#176;C -->
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="<%=boardWidget[i].e_dev_id%>-<%=boardWidget[i].sensor_key%>-configure"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                                <!-- Configure dropdown menu -->
                                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                    aria-labelledby="<%=boardWidget[i].e_dev_id%>-<%=boardWidget[i].sensor_key%>-configure">

                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#<%=boardWidget[i].e_dev_id%>-<%=boardWidget[i].sensor_key%>-edit">Edit widget</a>

                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#<%=boardWidget[i].e_dev_id%>-<%=boardWidget[i].sensor_key%>-delete">Delete widget</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!------------------------------------------------------------------------------------------------------------------------>
                        <!-- Configure Widget Modals for unique Widgets -->
                        <div class="modal fade" id="<%=boardWidget[i].e_dev_id%>-<%=boardWidget[i].sensor_key%>-edit"
                            tabindex="-1" role="dialog" aria-labelledby="configureSensorModalLabel" aria-hidden="true">

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="configureSensorModalLabel">Configure Widget</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Widget ID: <%=boardWidget[i].sensor_key%></p>
                                        <hr>
                                        <!-- action="device/configure" -->
                                        <form method="post" action="" class="user">
                                            <!-- Input type Text -->
                                            <label for="widget_name">Widget Name</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="configureWidgetName" aria-describedby="widget_name"
                                                    placeholder="Enter Widget name" name="widget_name">
                                            </div>
                                            <!-- Input type Select -->
                                            <label for="configureSensorData">Display Data</label>
                                            <select class="form-control mb-4" id="configureSensorData">
                                                <option selected value="1">Temperature</option>
                                                <option value="2">Hudmidity</option>
                                                <option value="3">Bat5V</option>
                                            </select>
                                            <input type="submit" id="sensor" value="Confirm changes" class="btn btn-primary btn-user btn-block">
                                            <hr>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Widget Modals for unique Widgets -->
                        <div class="modal fade" id="<%=boardWidget[i].e_dev_id%>-<%=boardWidget[i].sensor_key%>-delete"
                            tabindex="-1" role="dialog" aria-labelledby="deleteSensorModalLabel" aria-hidden="true">

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteSensorModalLabel">Delete this widget?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Select <b style="color: #2F69CA">Delete</b> button to remove this widget from the board.</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-primary" type="button" action="">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        <%}%>

                    </div>

                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer.ejs') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Global Modals-->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Global level plugins --> 
    <%- include('../partials/script.ejs') %>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/visuals/chart-area-demo.js"></script>
    <script src="js/visuals/chart-pie-demo.js"></script>

</body>

</html>