<!DOCTYPE html>
<html lang="en">
<head>

    <title>LoraWAN TestBed - Dashboard</title>
    
    <!-- <link rel="stylesheet" href="./../../public/stylesheets/dashboard.css"> -->
    <!-- Global level stylesheet -->
    <script src="https://unpkg.com/mqtt@4.2.8/dist/mqtt.min.js"></script>
    <script>
        const streaming_broker_protocol = "ws"; //pass from server
        const streaming_broker_addr = "127.0.0.1"; //pass from server
        const streaming_broker_port = 8083; //pass from server

        //pass from server
        const devices = "<%=devices%>";

        //pass from server
        const streaming_broker_options = {
            clientId: "enduser-1",
            keepalive: 120,
            protocolVersion: 5,
            clean: false,
            properties: {  // MQTT 5.0
                sessionExpiryInterval: 300
            },
            resubscribe: false
        }

        const sub_topics = [];
        devices.forEach((device_id) => {
            sub_topics.push({
                'topic': `devices/${device_id}/up/payload`,
                'options': {
                    'qos': 0
                }
            });
        });
            
        const streaming_broker_mqttclient = mqtt.connect(
            `${streaming_broker_protocol}://${streaming_broker_addr}:${streaming_broker_port}`, 
            streaming_broker_options
        );

        streaming_broker_mqttclient.on('connect', streaming_broker_connect_handler);
        streaming_broker_mqttclient.on('error', streaming_broker_error_handler);
        streaming_broker_mqttclient.on('message', streaming_broker_message_handler);
        
        //handle incoming connect
        function streaming_broker_connect_handler(connack)
        {
            console.log(`streaming broker connected? ${streaming_broker_mqttclient.connected}`);
            if (connack.sessionPresent == false) {
                sub_topics.forEach((topic) => {
                    streaming_broker_mqttclient.subscribe(topic['topic'], topic['options']);
                });
            }
        }
        
        //MESSAGE SEND HERE
        function streaming_broker_message_handler(topic, message, packet)
        {
            //parse msg
            let parsed_message = JSON.parse(message);
            //CONTINUE
            document.getElementById("data-payload").innerHTML = parsed_message;
        }

        // handle error
        function streaming_broker_error_handler(error)
        {
            console.log("Can't connect to streaming broker" + error);
            process.exit(1);
        }
    </script>
    <%- include('../partials/libs.ejs') %>

</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <%- include('../partials/navbar.ejs') %>
        <!-- End of Navbar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                
                <!-- Topbar -->
                <%- include('../partials/header.ejs') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
              
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Temperature Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Temperature</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">31.2&#176;C</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Air Humidity Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Air Humidity</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">58.5%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Soil Temperature Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Soil Temperature</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">29.5&#176;C</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Soil Humidity Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Soil Humidity</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">71.9%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   

                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer.ejs') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../login">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Global level plugins --> 
    <%- include('../partials/script.ejs') %>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/visuals/chart-area-demo.js"></script>
    <script src="js/visuals/chart-pie-demo.js"></script>

</body>

</html>